[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = PL
ST = Lower Silesia
L = Wroclaw
O = Overlight
OU = Admin
CN = 77.55.209.58
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = 77.55.209.58
DNS.2 = localhost.com
DNS.3 = localhost