.home-screen h3 {
    color: #1890ff;
    font-size: 32px;
    text-align: center;
}

.icon {
    margin-right: '20px'
}

.home-screen p {
    font-size: 1.2em;
    color: #777;
}

.features-container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features-container > div {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 500px;
    margin-left: 50px; 
    margin-right: 50px; 
}

.features-container h2{
    color: #0b5aa3;
}